.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-dropdown{
    display: none;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo h1{
    color: #171717;
    font-size: 28px;
    font-weight: 600;
}

.nav-logo img{
    height: 50px;
}

.nav-menu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    color: #616161;
    font-size: 14px;
    font-weight: 500;
}

.nav-menu li{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.nav-menu hr{
    background: #ff4141;
    height: 2px;
    width: 80%;
    border-radius: 10px;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    width: 80px;
    height: 35px;
    outline: none;
    border: 1px solid #7a7a7a;
    background: inherit;
    color: black;
    border-radius: 50px;
    font-size: 12px;
    cursor: pointer;
}

.nav-login-cart button:active{
    background-color: #f3f3f3;
}

.nav-login-cart img{
    height: 30px;
}

.cart-counter{
    background: red;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-left: -55px;
    color: white;
}

@media(max-width:1280px){
    .navbar{
        padding: 12px 50px;
    }

    .nav-logo img{
        height: 40px;
    }
    
    .nav-logo h1{
        font-size: 20px;
    }

    .nav-menu{
        gap: 30px;
        font-size: 13px;
    }

    .nav-login-cart{
        gap: 30px;
    }

    .nav-login-cart button{
        width: 70px;
        height: 30px;
        font-size: 11px;
    }

    .cart-counter{
        margin-left: -40px;
        font-size: 11px;
        align-items: center;
        width: 16px;
        height: 16px;
    }
}

@media(max-width:1024px){
    .navbar{
        padding: 12px 30px;
    }

    .nav-menu{
        gap: 25px;
        font-size: 12px;
    }

    .nav-login-cart button{
        width: 60px;
        height: 30px;
        font-size: 11px;
    }

    .nav-login-cart img{
        height: 22px;
    }

    .cart-counter{
        height: 14px;
        width: 14px;
        font-size: 10px;
    }

}

@media(max-width:800px){
    .navbar{
        padding: 7px 0px;
    }

    .nav-dropdown{
        height: 30px;
        display: block;
        rotate: -90deg;
        transition: 0.5s;
    }

    .nav-menu{
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: white;
        justify-content: center;
        top: 50px;
        transition: 0.5s;
    }

    .nav-menu-visible{
        display: flex;
        transition: 0.5s;
    }

    .open{
        rotate: 0deg;
    }
}

@media(max-width:500px){
    .navbar{
        padding: 5px 0px;
        gap: 0px;
    }

    .nav-logo{
        transform: scale(0.9);
    }

    .nav-menu{
        height: 70px;
        top: 50px;
    }

    
}


