.breadcrumbs{
   display: flex;
   align-items: center;
   gap: 6px;
   color: #5e5e5e;
   font-size: 13px;
   font-weight: 500;
   text-transform: capitalize;
   margin: 20px 120px;
}

.breadcrumbs img{
    height: 10px;
}

@media(max-width:1280px){
    .breadcrumbs{
        margin: 20px 50px;
        font-size: 12px;
    }
}

@media(max-width:1024px){
    .breadcrumbs{
        margin: 20px 30px;
        font-size: 11px;
    }
}

@media(max-width:800px){
    .breadcrumbs{
        margin: 20px 10px;
        font-size: 10px;
    }
}

@media(max-width:500px){
    .breadcrumbs{
        font-size: 9px;
    }
}