.offers-right img{
    width: 300px;
}

.offers{
    width: 65%;
    min-height: 60vh;
    display: flex;
    margin: 0px auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1{
    font-size: 60px;
    color: #171717;
    font-weight: 600;
}

.offers-left p{
    color: #171717;
    font-size: 18px;
    font-weight: 600;
}

.offers-left button{
    width: 180px;
    height: 50px;
    border-radius: 35px;
    background: #171717;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}

.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}

@media(max-width:1280px){
    .offers{
        padding: 0px 80px;
        margin-bottom: 120px;
    }

    .offers-left h1{
        font-size: 40px;
    }

    .offers-left p{
        font-size: 18px;
    }

    .offers-right img{
        width: 300px;
    }

    .offers-left button{
        height: 50px;
    }

    .offers-right{
        padding-top: 30px;
    }
}

@media(max-width:1024px){
    .offers{
        padding: 0px 60px;
        margin-bottom: 80px;
        min-height: 40vh;
    }

    .offers-left h1{
        font-size: 30px;
    }

    .offers-left p{
        font-size: 16px;
    }

    .offers-right img{
        width: 200px;
    }

    .offers-left button{
        height: 40px;
        width: 160px;
    }

    .offers-right{
        padding-top: 10px;
    }
}

@media(max-width:800px){
    .offers{
        margin-bottom: 60px;
    }

    .offers-left h1{
        font-size: 22px;
    }

    .offers-left p{
        font-size: 13px;
    }

    .offers-right img{
        max-width: 180px;
    }

    .offers-left button{
        height: 30px;
        width: 140px;
        font-size: 11px;
    }

    .offers-right{
        padding-top: 10px;
    }
}

@media(max-width:500px){
    .offers{
        min-height: 25vh;
        margin-bottom: 50px;
    }

    .offers-left h1{
        font-size: 16px;
    }

    .offers-left p{
        font-size: 10px;
    }

    .offers-right img{
        max-width: 120px;
    }

    .offers-left button{
        height: 25px;
        width: 120px;
        font-size: 10px;
        margin-top: 10px;
    }

    .offers-right{
        padding-top: 10px;
    }
}

@media(max-width:400px){
   .offers{
    padding: 0px 40px;
   }

    .offers-left h1{
        font-size: 16px;
    }

    .offers-left p{
        font-size: 10px;
    }

    .offers-right img{
        max-width: 120px;
    }

    .offers-left button{
        height: 25px;
        width: 120px;
        font-size: 10px;
        margin-top: 10px;
    }

    .offers-right{
        padding-top: 10px;
    }
}
