

.product-display{
    display: flex;
    margin: 0px 120px;
}

.product-display-left{
    display: flex;
    gap: 17px;
}

.product-display-img-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-display-img-list img{
    height: 120px;
}

.product-display-image img{
    height: 515px;
}

.product-display-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.product-display-right h1{
    color: #3d3d3d;
    font-size: 26px;
    font-weight: 700;
}

.product-display-right-star{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 4px;
    color: #1c1c1c;
    font-size: 12px;
}

.product-display-right-star img{
    width: 12px;
}

.product-display-right-prices{
    display: flex;
    margin: 20px 0px;
    gap: 30px;
    font-size: 20px;
    font-weight: 700;
}

.product-display-right-price-old{
    text-decoration: line-through;
    color: #818181;
}

.product-display-right-size h1{
    margin-top: 40px;
    color: #656565;
    font-size: 17px;
    font-weight: 600;
}

.product-display-right-sizes{
    display: flex;
    margin: 20px 0px;
    gap: 20px;
}

.product-display-right-sizes div{
    border: 1px solid #ebebeb;
    background: #fbfbfb;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 3px;
}

.product-display-right button{
    padding: 10px 20px;
    width: 200px;
    font-size: 13px;
    font-weight: 500;
    background: black;
    color: white;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.product-display-right-category{
    margin-top: 10px;
}

.product-display-right-category span{
    font-weight: 600;
}

@media(max-width:1280px){
    .product-display{
        margin: 0px 60px;
    }

    .product-display-left{
        gap: 10px;
    }

    .product-display-img-list{
        gap: 10px;
    }

    .product-display-img-list img{
        height: 120px;
    }

    .product-display-image img{
        width: auto;
        height: 510px;
    }

    .product-display-right{
        margin: 0px 30px;
    }

    .product-display-right h1{
        font-size: 22px;
    }

    .product-display-right-star{
        gap: 3px;
    }

    .product-display-right-prices{
        margin: 10px 0px;
        font-size: 18px;
    }

    .product-display-right-size h1{
        margin-top: 20px;
        font-size: 20px;
    }

    .product-display-right button{
        width: 150px;
        margin-bottom: 20px;
    }

    .product-display-right-category{
        margin-top: 5px;
    }
}

@media(max-width:1024px){
    .product-display{
        margin: 0px 30px;
    }

    .product-display-left{
        gap: 5px;
    }

    .product-display-img-list img{
        height: 80px;
    }

    .product-display-image img{
        height: 350px;
    }

    .product-display-right h1{
        font-size: 18px;
    }

    .product-display-right-description{
        font-size: 12px;
    }

    .product-display-right-prices{
        margin: 10px 0px;
        font-size: 18px;
    }

    .product-display-right-sizes{
        margin: 10px 0px;
    }

    .product-display-right button{
        width: 120px;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 10px 0px;
        margin-bottom: 10px;
    }

    .product-display-right-category{
        font-size: 12px;
    }
}

@media(max-width:800px){
    .product-display{
        margin: 0px 10px;
    }

    .product-display-left{
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .product-display-img-list{
        flex-direction: row;
        gap: 6px;
    }

    .product-display-img-list img{
        height: 70px;
    }

    .product-display-image img{
        height: 300px;
    }

    .product-display-right h1{
        font-size: 14px;
    }

    .product-display-right-description{
        font-size: 10px;
    }

    .product-display-right-size h1{
        margin-top: 10px;
    }

    .product-display-right-star img{
        width: 13px;
    }

    .product-display-right-prices{
        margin: 10px 0px;
        font-size: 18px;
    }

    .product-display-right-sizes{
        margin-top: 10px;
        gap: 5px;
    }

    .product-display-right button{
        width: 100px;
        margin-top: 10px;
        padding: 10px 0px;
        margin-bottom: 10px;
        font-size: 11px;
    }

    .product-display-right-category{
        font-size: 10px;
    }

    .product-display-right-sizes div{
        padding: 4px 11px;
    }
}

@media(max-width:500px){
    .product-display{
        flex-direction: column;
    }

    .product-display-left{
        gap: 10px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .product-display-img-list{
        flex-direction: column;
        gap: 8px;
    }

    .product-display-img-list img{
        height: 75px;
    }

    .product-display-image img{
        height: 324px;
    }

    .product-display-right{
        margin: 5px;
    }

    .product-display-right h1{
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
    }

    .product-display-right-star img{
        width: 13px;
    }

    .product-display-right-sizes{
        gap: 10px;
        margin: 20px 0px;
    }

    .product-display-right-sizes div{
        padding: 10px 16px;
        font-size: 13px;
    }

    .product-display-right button{
        width: 130px;
        font-size: 13px;
    }

    .product-display-right-category{
        font-size: 12px;
    }

}

@media(max-width:360px){
    .product-display-img-list img{
        height: 60px;
    }

    .product-display-image img{
        height: 264px;
    }
}